.emacs.d/.smex-items
.emacs.d/abbrev_defs
.emacs.d/backups/
.emacs.d/elpa/
.emacs.d/places
.lein/bin/
.lein/plugins/
.lein/self-installs/
.DS_Store
.emacs.d/auto-save-list/.saves-1015-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-12141-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-1467-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-15259-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-2081-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-2128-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-25998-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-4169-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-543-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-5518-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-741-Carin-Meiers-MacBook-Air.local~
.emacs.d/swank/slime-c3230b2c.el
.emacs.d/swank/slime-c3230b2c.elc
.emacs.d/swank/slime-cdf283b4.el
.emacs.d/swank/slime-cdf283b4.elc
.emacs.d/swank/slime-eldoc-d8b3cf74.el
.emacs.d/swank/slime-eldoc-d8b3cf74.elc
.emacs.d/swank/slime-fbbb883a.el
.emacs.d/swank/slime-fbbb883a.elc
.emacs.d/swank/slime-frame-colors-a24dd450.el
.emacs.d/swank/slime-frame-colors-a24dd450.elc
.emacs.d/swank/slime-repl-79b38c83.el
.emacs.d/swank/slime-repl-79b38c83.elc
auto-save-list/.saves-1015-Carin-Meiers-MacBook-Air.local~
auto-save-list/.saves-12141-Carin-Meiers-MacBook-Air.local~
auto-save-list/.saves-1467-Carin-Meiers-MacBook-Air.local~
auto-save-list/.saves-15259-Carin-Meiers-MacBook-Air.local~
auto-save-list/.saves-2081-Carin-Meiers-MacBook-Air.local~
auto-save-list/.saves-2128-Carin-Meiers-MacBook-Air.local~
auto-save-list/.saves-25998-Carin-Meiers-MacBook-Air.local~
auto-save-list/.saves-543-Carin-Meiers-MacBook-Air.local~
auto-save-list/.saves-5518-Carin-Meiers-MacBook-Air.local~
auto-save-list/.saves-6599-Carin-Meiers-MacBook-Air.local~
auto-save-list/.saves-741-Carin-Meiers-MacBook-Air.local~
backups/!Users!cmeier!.emacs.d!cmeier.el~
backups/!Users!cmeier!.emacs.d!elpa!archives!gnu!archive-contents~
backups/!Users!cmeier!.emacs.d!elpa!archives!marmalade!archive-contents~
backups/!Users!cmeier!.emacs.d!elpa!caml-3.12.0.1!caml-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!coffee-mode-0.3.0!coffee-mode-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!color-theme-6.6.1!color-theme-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!elisp-slime-nav-0.2!elisp-slime-nav-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!furl-0.0.2!furl-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!markdown-mode-1.8.1!markdown-mode-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!marmalade-0.0.4!marmalade-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!oddmuse-20090222!oddmuse-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!rainbow-delimiters-1.3.21!rainbow-delimiters-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!starter-kit-bindings-2.0.2!starter-kit-bindings-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!starter-kit-eshell-2.0.2!starter-kit-eshell-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!starter-kit-js-2.0.1!starter-kit-js-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!starter-kit-lisp-2.0.3!starter-kit-lisp-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!starter-kit-ruby-2.0!starter-kit-ruby-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!tuareg-2.0.5!tuareg-autoloads.el~
backups/!Users!cmeier!.emacs.d!elpa!yaml-mode-0.0.7!yaml-mode-autoloads.el~
backups/!Users!cmeier!.emacs.d!misc!ruby-test.el~
backups/!Users!cmeier!.emacs.d!url!cookies~
backups/!Users!cmeier!.ido.last~
backups/!Users!cmeier!.recentf~
backups/!Users!cmeier!.rvm!gems!ruby-1.8.7-p330@schlageadmin!gems!secondbase-0.3.2!lib!secondbase!tasks.rb~
backups/!Users!cmeier!.rvm!gems!ruby-1.9.2-p180@schlageadmin!gems!secondbase-0.5.0!lib!secondbase!tasks.rb~
backups/!Users!cmeier!.rvm!gems!ruby-1.9.3-p0@schlage!gems!actionpack-3.1.3!lib!action_view!lookup_context.rb~
backups/!Users!cmeier!workspace!clojureland!datomic!datomic-0.1.3164!samples!seattle!getting-started.clj~
backups/!Users!cmeier!workspace!clojureland!datomic!datomic-0.1.3164!samples!seattle!project.clj~
backups/!Users!cmeier!workspace!clojureland!datomic!sample-datomic!project.clj~
backups/!Users!cmeier!workspace!clojureland!datomic!sample-datomic!seattle-data1.dtm~
backups/!Users!cmeier!workspace!clojureland!datomic!sample-datomic!src!sample_datomic!getting-started.clj~
backups/!Users!cmeier!workspace!clojureland!datomic!sample-datomic!src!sample_datomic!little-stuff.clj~
backups/!Users!cmeier!workspace!clojureland!workspace!Logic-Starter!src!logic_introduction!carin.clj~
backups/!Users!cmeier!workspace!clojureland!workspace!clojure!test!clojure!test_clojure!let.clj~
backups/!Users!cmeier!workspace!clojureland!workspace!little-clojure-guide!little-clojure-guide.html~
backups/!Users!cmeier!workspace!clojureland!workspace!little-clojure-monad-guide!src!little_clojure_monad_guide!core.clj~
backups/!Users!cmeier!workspace!clojureland!workspace!little-clojure-monad-guide!src!little_clojure_monad_guide!macros.clj~
backups/!Users!cmeier!workspace!clojureland!workspace!little-clojure-monad-guide!src!little_clojure_monad_guide!play.clj~
backups/!Users!cmeier!workspace!clojureland!workspace!little-clojure-monad-guide!src!little_clojure_monad_guide!runthrough.clj~
backups/!Users!cmeier!workspace!clojureland!workspace!nyan!project.clj~
backups/!Users!cmeier!workspace!clojureland!workspace!nyan!src!nyan!core.clj~
backups/!Users!cmeier!workspace!clojureland!workspace!one!public!todo.html~
backups/!Users!cmeier!workspace!clojureland!workspace!one!templates!carin.html~
backups/!Users!cmeier!workspace!clojureland!workspace!one!templates!item.html~
backups/!Users!cmeier!workspace!clojureland!workspace!one-todos!public!index.html~
backups/!Users!cmeier!workspace!clojureland!workspace!one-todos!templates!todo-list.html~
backups/!Users!cmeier!workspace!clojureland!workspace!playground!project.clj~
backups/!Users!cmeier!workspace!clojureland!workspace!playground!src!playground!core.clj~
backups/!Users!cmeier!workspace!clojureland!workspace!playground!src!playground!dognapped.clj~
backups/!Users!cmeier!workspace!clojureland!workspace!playground!src!playground!monad.clj~
backups/!Users!cmeier!workspace!clojureland!workspace!playground!src!playground!tentacle.clj~
backups/!Users!cmeier!workspace!clojureland!workspace!refheap!fetch-pyg-git.sh~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!app!views!accounts!_account_details.html.erb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!app!views!accounts!_refund_listing.html.erb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!app!views!accounts!_refund_view.html.erb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!app!views!accounts!_return_details.html.erb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!app!views!accounts!update_status.html.erb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!app!views!refunds!_refund_view.html.erb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!app!views!refunds!updated_refund.html.erb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!app!views!refunds!updated_refund.js.erb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!config!database.yml~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!lib!aria_admin.rb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!lib!aria_integration.rb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!public!javascripts!account_cancel.js~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!public!javascripts!refunds.js~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!spec!controllers!accounts_controller_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!spec!controllers!refunds_controller.rb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!spec!controllers!refunds_controller_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!spec!fixtures!cancellation_survey.yml~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!spec!fixtures!cancellation_survey_answer.yml~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!spec!fixtures!cancellation_survey_answers.yml~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!spec!fixtures!cancellation_survey_questions.yml~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!spec!fixtures!cancellation_survey_question~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!spec!fixtures!cancellation_survey_response.yml~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!spec!lib!aria_admin_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!spec!lib!aria_integration_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!adminportal!spec!models!cancellation_survey_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!device_manager!src!com!crayoninterface!irco!command!portal!ZwaveGetBinarySwitch.java~
backups/!Users!cmeier!workspace!edgecase!ir!device_manager!src!com!crayoninterface!irco!command!portal!ZwaveGetMultilevelSwitch.java~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!app!assets!javascripts!schalge_billing_history.js~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!app!assets!javascripts!schlage_billing_history.js~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!app!assets!javascripts!user_code_schedules.js~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!app!controllers!setup!am_std_xxl_controller.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!app!models!energy_calculator.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!app!models!energy_calculator_options.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!app!views!energy_calculators!_update_fail.js.erb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!app!views!setup!partials!_install_am_std_xxl.html.erb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!app!views!subscriptions!_billing_history.html.erb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!app!views!thermostats!_energy_calculator.html.erb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!app!views!thermostats!_energy_calculator_form.html.erb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!app!views!wizard!promotion_select.html.erb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!config!amqp.yml~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!config!anz_bridges.yml~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!config!database.yml~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!config!developer_tag~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!config!features.yml~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!config!locales!aria!direct_post_errors.yml~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!config!locales!devices!section_partials!_dimmer_view_setup.yml~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!config!locales!devices!section_partials!_sensor_view_setup.yml~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!config!locales!subscriptions!_billing_history.yml~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!db!migrate!20111221195208_create_energy_calculators.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!db!migrate!20111227181652_rebrand_cancellation_survey2.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!db!migrate!20111227193318_rebrand_cancellation_survey_answers.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!db!migrate!20120126140734_remove_neighborhood_from_account.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!db!migrate!20120126142313_add_address2_to_account.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!db!migrate!20120208161506_add_initiated_by_to_refunds.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!db!migrate!20120215161245_increase_size_of_phone_in_phones.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!db!migrate!20120215162546_increase_size_of_phone_in_alerts.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!db!migrate!20120216182833_increase_phone_number_length.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!db!migrate!20120314173242_create_br_translations.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!db!migrate!20120430191148_add_region_to_bridge.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!db!migrate!20120606132244_add_index_to_aria_pay_plans_houses.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!lib!states_au.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!lib!states_brazil.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!lib!states_brazil2.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!spec!controllers!energy_calculator_controller_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!spec!controllers!energy_calculators_controller_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!spec!controllers!sensors!schedules_controller_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!spec!controllers!setup!door_sensor_controller_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!spec!controllers!setup!motion_sensor_controller_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!spec!controllers!setup!other_sensor_controller_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!spec!models!energy_calculator_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!spec!models!mailer_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!spec!models!translation_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!spec!models!zwave_spec.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!spec!script!update_bridge_firware.rb~
backups/!Users!cmeier!workspace!edgecase!ir!schlageportal!spec!script!update_bridge_firware_spec.rb~
backups/!Users!cmeier!workspace!java!sparkleShop!spec!sparkle_factory_spec.rb~
backups/!Users!cmeier!workspace!java!sparkleShop!test!spec!sparkle_factory_given_spec.rb~
backups/!Users!cmeier!workspace!misc!emacs-config!.emacs.d!cmeier.el~
backups/!Users!cmeier!workspace!rubyland!froth!froth.rb~
swank/slime-c3230b2c.el
swank/slime-c3230b2c.elc
swank/slime-cdf283b4.el
swank/slime-cdf283b4.elc
swank/slime-eldoc-d8b3cf74.el
swank/slime-eldoc-d8b3cf74.elc
swank/slime-fbbb883a.el
swank/slime-fbbb883a.elc
swank/slime-frame-colors-a24dd450.el
swank/slime-frame-colors-a24dd450.elc
swank/slime-repl-79b38c83.el
swank/slime-repl-79b38c83.elc
.emacs.d/auto-save-list/.saves-1073-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-11877-cpe-174-101-138-23.cinci.res.rr.com~
.emacs.d/auto-save-list/.saves-12402-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-13486-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-14156-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-14515-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-14871-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-16468-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-1861-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-20050-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-22709-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-2443-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-3414-cpe-174-101-138-23.cinci.res.rr.com~
.emacs.d/auto-save-list/.saves-453-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-4533-cpe-174-103-149-220.cinci.res.rr.com~
.emacs.d/auto-save-list/.saves-45875-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-4623-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-60929-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-67864-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-794-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-7976-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-8508-cpe-174-103-140-28.cinci.res.rr.com~
.emacs.d/auto-save-list/.saves-8802-Carin-Meiers-MacBook-Air.local~
