.emacs.d/.smex-items
.emacs.d/abbrev_defs
.emacs.d/backups/
.emacs.d/elpa/
.emacs.d/places
.lein/bin/
.lein/plugins/
.lein/self-installs/
.DS_Store
.emacs.d/auto-save-list/.saves-1015-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-12141-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-1467-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-15259-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-2081-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-2128-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-25998-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-4169-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-543-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-5518-Carin-Meiers-MacBook-Air.local~
.emacs.d/auto-save-list/.saves-741-Carin-Meiers-MacBook-Air.local~